/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  font-family: "Roboto", sans-serif;
}
#header {
  font-family: "Lato", sans-serif;
  text-align: center;
}

button,
button:hover {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
li {
  list-style: none;
  align-content: space-between;
}
body {
  margin: 0;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: black;
}

/*Header Styling*/

.header-logo {
  max-width: 100%;
}
.lichtblick-logo {
  width: 150px;
}
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header {
  position: relative;
  margin: 2rem 4rem 2rem 2rem;
}

/*Main Styling*/

main {
  display: block;
  width: 100%;
  padding: 0em;
}

section {
  text-align: center;
}
.klimareformen-button {
  background-color: #2ea043;
}
.heizen-button {
  background-color: plum;
}
.klimaneutral {
  background-color: grey;
  padding: 44px 0px 44px 0px;
  margin-top: -4px;
  margin-bottom: 20px;
}
.heizen {
  background-color: plum;
  padding: 44px 0px 44px 0px;
}
.klimareformen {
  background-color: #2ea043;
  padding: 44px 0px 44px 0px;
}

article {
  width: 500px;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
.E-Mobilität {
  width: 100%;
  margin-top: 10px;
  margin-left: -15px;
  position: relative;
  z-index: -1;
  border-radius: 10px 10px 0 0;
}
.card-section {
  display: grid;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: row;
}
footer {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 55px auto;
  background-color: black;
  flex-direction: column;
  padding: 25px;
}
a:visited {
  color: white;
}
.nav-item {
  padding: 25px;
}

@media screen and (max-width: 500px) {
  .card-section,
  article {
    display: block;
    width: auto;
  }
}
@media screen and(max-width:500px) {
  #navigation > li {
    align-self: stretch;
  }
}
