/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  font-family: "Roboto", sans-serif;
}
#header {
  font-family: "Lato", sans-serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
li {
  list-style: none;
  align-content: space-between;
}
body {
  margin: 0;
  width: 100%;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: black;
}

/*Header Styling*/

.header-logo {
  max-width: 100%;
}
.lichtblick-logo {
  width: 150px;
}
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
#header {
  position: relative;
  margin: 2rem 4rem 2rem 2rem;
}
